* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
    padding: 50px;
}

main {
    align-content: center;
    margin: 30px;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    background-color: #00000034;
    padding: 40px;
    display:flex;
    flex-direction: column;
    box-shadow: 20px 20px 10px #888888;
    border: 1px solid #000000;
}

.input-style {
    width: 700px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #000000
}

.button {
    width: 300px;
    height: 40px;
    align-self: center;
    border-radius: 8px;
    border: 2px solid #000000
}

.input-results {
    width: 800px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid #000000
}